body{
    font-family: Arial, Helvetica, sans-serif;
    background: #FFE4C4;
}

.input{
    font-family: inherit;
    font-size: inherit;
    padding: 10px 6px;
    min-width: 20px;
    display: flex;
    align-items: center;
    outline: none;
    
}

.input-tag-container{
    display: flex;
    padding: 5px;
    width: 500px;
    flex-wrap: wrap;
    border: solid 1px #ccc;
    background-color: #F0FFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.tag-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.tag-item{
    border: solid 1px #ccc;
    background-color: #FFFFE0;
    display: flex;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    align-items: center;
    padding: 5px ;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.tag-item button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tag-item button:hover{
    background-color: #FFE4B5;
}